
<div class="box">
<% if logged_in? %>

  <% if @user == @current_user %>

  Your accounts<br>
    <% if @current_user.usernames.count > 0 %>
      <% @current_user.usernames.each do |u| %>
        <% if u.default == true %>
          <div class="default username"><%= link_to u.name + "'s profile", username_path(u.name) %>

              <% @us = u %>
<%= render 'layouts/username_stats' %>
<%  names = [] %>
<%  ids = [] %>
<%  @current_user.usernames.each do |us| %>
  <% if u != us %>
  <%  names.push us.name %>
  <% end %>
<%  end %>
<%  @current_user.usernames.each do |us| %>
  <% if u != us %>
  <%  ids.push us.id %>
    <% end %>
<%  end %>
<% @username_selector = names.zip(ids) %>
<% if @username_selector != [] %>
<br>Merge with
<%= form_tag merge_path(u), method: 'get' do %>
<%= select_tag :delete_id, options_for_select(@username_selector) %>
<%= submit_tag "Merge" %>
<% end %>
<% end %>
          </div>

          <% else %>
          <div class="username"><%= link_to u.name + "'s profile", username_path(u.name) %>
            <%= form_for u do |f| %>

              <%= f.hidden_field :name, value: u.name %>
              <%= f.hidden_field :default, value: true %>
              <%= f.submit "Make default" %>
            <% end %>

  <br>
            <% @us = u %>
<%= render 'layouts/username_stats' %>

            <%  names = [] %>
            <%  ids = [] %>
            <%  @current_user.usernames.each do |us| %>
              <% if u != us %>
              <%  names.push us.name %>
              <% end %>
            <%  end %>
            <%  @current_user.usernames.each do |us| %>
              <% if u != us %>
              <%  ids.push us.id %>
                <% end %>
            <%  end %>
            <% @username_selector = names.zip(ids) %>
<br>Merge with
<%= form_tag merge_path(u), method: 'get' do %>
<%= select_tag :delete_id, options_for_select(@username_selector) %>
<%= submit_tag "Merge" %>
<% end %>
          </div>
          <% end %>
      <% end %>
    <% else %>
    You have no usernames<br>
    <% end %>
<%= link_to "make a username?", new_username_path %>
  <% else %>
    This page is private
  <% end %>

  <% else %>
    Must be logged in to see this page
<% end %>
</div>
