
<div class="box">
<% if logged_in? %>

  <% if @user == @current_user %>

<h2>  <%= @current_user.email %>'s usernames</h2>
<center>
  <%= link_to "Create a new username", new_username_path %></center>
    <% if @current_user.usernames.count > 0 %>
      <% @current_user.usernames.each do |u| %>
        <% if u.default == true %>
          <div class="default username"><%= link_to u.name + "'s profile & new posts", username_path(u.name) %> | <%= link_to u.name + "'s expired posts", old_path(u.name) %> | <%= link_to u.name + "'s gallery", gallery_path(u.name) %> | <%= link_to u.name + "'s archive", archive_path(u.name) %>

              <% @us = u %>
<%= render 'layouts/username_stats' %>
<hr>
<%= form_for u do |f| %>
<%= f.text_field :name, value: u.name %>
<%= f.submit "Change name" %>
<% end %>
<%  names = [] %>
<%  ids = [] %>
<%  @current_user.usernames.each do |us| %>
  <% if u != us %>
  <%  names.push us.name %>
  <% end %>
<%  end %>
<%  @current_user.usernames.each do |us| %>
  <% if u != us %>
  <%  ids.push us.id %>
    <% end %>
<%  end %>
<% @username_selector = names.zip(ids) %>
<% if @username_selector != [] %>
<br>Merge with
<%= form_tag merge_path(u), method: 'get' do %>
<%= select_tag :delete_id, options_for_select(@username_selector) %>
<%= submit_tag "Merge" %>
<% end %>
<% end %>
          </div>

          <% else %>
          <div class="username"><%= link_to u.name + "'s profile & new posts", username_path(u.name) %> | <%= link_to u.name + "'s expired posts", old_path(u.name) %> | <%= link_to u.name + "'s gallery", gallery_path(u.name) %> | <%= link_to u.name + "'s archive", archive_path(u.name) %>


  <br>

            <% @us = u %>
<%= render 'layouts/username_stats' %>
<hr>
<%= form_for u do |f| %>

  <%= f.hidden_field :name, value: u.name %>
  <%= f.hidden_field :default, value: true %>
  <%= f.submit "Make " + u.name + " your default account" %>
<% end %><br>
<%= form_for u do |f| %>
<%= f.text_field :name, value: u.name %>
<%= f.submit "Change name" %>
<% end %>
            <%  names = [] %>
            <%  ids = [] %>
            <%  @current_user.usernames.each do |us| %>
              <% if u != us %>
              <%  names.push us.name %>
              <% end %>
            <%  end %>
            <%  @current_user.usernames.each do |us| %>
              <% if u != us %>
              <%  ids.push us.id %>
                <% end %>
            <%  end %>
            <% @username_selector = names.zip(ids) %>
<br>Merge with
<%= form_tag merge_path(u), method: 'get' do %>
<%= select_tag :delete_id, options_for_select(@username_selector) %>
<%= submit_tag "Merge" %>
<% end %>
          </div>
          <% end %>
      <% end %>
    <% else %>
    You have no usernames<br>
    <% end %>

  <% else %>
    This page is private
  <% end %>

  <% else %>
    Must be logged in to see this page
<% end %>
</div>
