<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<% if logged_in? %>

  <% if @user == @current_user %>

  Your accounts<br>
    <% if @current_user.usernames.count > 0 %>
      <% @current_user.usernames.each do |u| %>
        <% if u.default == true %>
          <div class="default username"><%= link_to u.username, username_path(u.username) %>
          </div>
          <% else %>
          <div class="username"><%= link_to u.username, username_path(u.username) %>
            <%= form_for u do |f| %>
              <%= f.hidden_field :username, value: u.username %>
              <%= f.hidden_field :default, value: true %>
              <%= f.submit "Make default" %>
            <% end %>
          </div>
          <% end %>
      <% end %>
    <% else %>
    You have no usernames<br>
    <% end %>
<%= link_to "make a username?", new_username_path %>
  <% else %>
    This page is private
  <% end %>

  <% else %>
    Must be logged in to see this page
<% end %>
