<p>Home page</p>
<% if logged_in? %>
<%= link_to "your page", user_path(@current_user) %>
<% else %>
<%= link_to "log in", login_path %><br>
<%= link_to "sign up", register_path %><br>
<% end %>
<div class="posts">
  <%= will_paginate @posts %>
  <% @posts.each do |p| %>
    <div class="post"><h2>
    <%= p.title %></h2>
  <p><%= p.body %></p>
<p><i>by <%= p.username.username %></i> at <%= p.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
</p></div>
  <% end %>
  <%= will_paginate @posts %>
</div>
