<h1>Inbox</h1>
<% if logged_in? %>
<div class="notifications">
<h2>notifications</h2>
<%= button_to "Mark All Read", markallread_pages_path, method: :get %>
<% @current_user.usernames.each do |us| %>
<% us.notifications.where(read: false).each do |note| %>
<div class="notification notegrid">
  <div class="leftside">
<% if note.kind == "share" %>
<%= Username.find_by(id: note.sender_id).name %> shared your post "<%= link_to Post.find_by(id: note.post_id).title, username_post_path(note.username, Post.find_by(id: note.post_id)) %>" with comment:
<div class="notebody"><b> <%= note.body %></b></div>
<% elsif note.kind == "private_message" %>
<%= Username.find_by(id: note.sender_id).name %> sent you a message:
<div class="notebody"><b> <%= note.body %></b></div>
<% elsif note.kind == "comment" %>
<%= Username.find_by(id: note.sender_id).name %> commented on your post "<%= link_to Post.find_by(id: note.post_id).title, username_post_path(note.username, Post.find_by(id: note.post_id)) %>":
<div class="notebody"><b> <%= note.body %></b></div>
<% elsif note.kind == "reply comment" %>
<%= Username.find_by(id: note.sender_id).name %> replied to your comment "<%= link_to Comment.find_by(id: note.comment_id).body.truncate(25, separator: ' '), username_post_path(note.username, Post.find_by(id: note.post_id)) %>":
<div class="notebody"><b> <%= note.body %></b></div>
<% elsif note.kind == "follow" %>
<%= Username.find_by(id: note.sender_id).name %> followed you and says:
<div class="notebody"><b> <%= note.body %></b></div>
<% end %>
</div>
<div class="rightside">
<%= form_for([note.username, note]) do |f| %>
<%= f.hidden_field :id, value: note.id %>
<%= f.hidden_field :read, value: true %>
<%= f.submit "Mark Read" %>
<% end %>
</div>
</div>
<% end %>


<% end %>

<h2>to you</h2>
<% @pms.each do |pm| %>
<% @pm = pm %>
<% if @current_user == Username.where(id: pm.recipient_id)[0].user %>
<%= render 'layouts/pm' %><br>
<% end %>
<% end %><h2>

from you</h2>
<% @pms.each do |pm| %>
<% @pm = pm %>
<% if @current_user == Username.where(id: pm.username_id)[0].user %>
<%= render 'layouts/pm' %><br>
<% end %>
<% end %>
</div>
<% end %>
