<h1>Inbox</h1>
<% if logged_in? %>
<div class="notifications">
<h2>notifications</h2>
<%= button_to "Mark All Read", markallread_pages_path, method: :get %>
<%= button_to "See Read Notifications", inbox_read_path, method: :get %>
<% @current_user.usernames.each do |us| %>
<% us.notifications.where(read: false).each do |note| %>
<% @note = note %>
<div class="notification notegrid">
  <%= render 'layouts/notifications' %>
<div class="rightside">
<%= form_for([note.username, note]) do |f| %>
<%= f.hidden_field :id, value: note.id %>
<%= f.hidden_field :read, value: true %>
<%= f.submit "Mark Read" %>
<% end %>
</div>
</div>
<% end %>


<% end %>

<h2>Private messages</h2>
<% @current_user.usernames.each do |us| %>
<%= link_to "Private messages for " + us.name, username_pms_path(us.name) %><br>
<% end %>

</div>
<% end %>
