<h1>Inbox</h1>
<% if logged_in? %>
<div class="notifications">
<h2>notifications</h2>
<%= button_to "Mark All Read", markallread_pages_path, method: :get %>
<%= button_to "See Read Notifications", inbox_read_path, method: :get %>
<% @current_user.usernames.each do |us| %>
<% us.notifications.where(read: false).each do |note| %>
<% @note = note %>
<div class="notification notegrid">
  <%= render 'layouts/notifications' %>
<div class="rightside">
<%= form_for([note.username, note]) do |f| %>
<%= f.hidden_field :id, value: note.id %>
<%= f.hidden_field :read, value: true %>
<%= f.submit "Mark Read" %>
<% end %>
</div>
</div>
<% end %>


<% end %>

<h2>to you</h2>
<% @pms.each do |pm| %>
<% @pm = pm %>
<% if @current_user == Username.where(id: pm.recipient_id)[0].user %>
<%= render 'layouts/pm' %><br>
<% end %>
<% end %><h2>

from you</h2>
<% @pms.each do |pm| %>
<% @pm = pm %>
<% if @current_user == Username.where(id: pm.username_id)[0].user %>
<%= render 'layouts/pm' %><br>
<% end %>
<% end %>
</div>
<% end %>
