<h1>Inbox</h1>
<% if logged_in? %>
<div class="notifications">
notifications<hr>
<% @current_user.usernames.each do |us| %>

<% us.notifications.each do |note| %>
<% if note.kind == "share" %>
<%= Username.find_by(id: note.sender_id).name %> shared your post "<%= link_to Post.find_by(id: note.post_id).title, username_post_path(note.username, Post.find_by(id: note.post_id)) %>" with comment: <%= note.body %><br>
<% elsif note.kind == "private_message" %>
<%= Username.find_by(id: note.sender_id).name %> sent you a message: <%= note.body %><br>
<% elsif note.kind == "comment" %>
<%= Username.find_by(id: note.sender_id).name %> commented on your post "<%= link_to Post.find_by(id: note.post_id).title, username_post_path(note.username, Post.find_by(id: note.post_id)) %>": <%= note.body %><br>
<% end %>
<% end %>
<br>
<% end %>
<hr>

to you<hr>
<% @pms.each do |pm| %>
<% @pm = pm %>
<% if @current_user == Username.where(id: pm.recipient_id)[0].user %>
<%= render 'layouts/pm' %><br>
<% end %>
<% end %><hr>

from you<hr>
<% @pms.each do |pm| %>
<% @pm = pm %>
<% if @current_user == Username.where(id: pm.username_id)[0].user %>
<%= render 'layouts/pm' %><br>
<% end %>
<% end %>
</div>
<% end %>
