<div class="box">
<% if logged_in? %>
 <%= form_for([@username, @post]) do |f| %>
<%= f.label 'Post as' %> <%= f.select :username_id, @username_selector %><br>
  <%= f.text_field :title, placeholder: 'title', require: true, minlength: 3, require: true, :id => "create-post-title", :onkeydown => "updatePostTitleCounter()" %><span id="post-title-char-count"></span><br>
  You may use <%= link_to "BBcode", bbcode_path %> in this field.<br>
      Insert: <input type="button" value="link" onclick="formatText ('url');" />
    <input type="button" value="image" onclick="formatText ('img');" />
  <input type="button" value="youtube" onclick="formatText ('youtube');" /><br>
<!-- <input type="button" value="dailymotion" onclick="formatText ('dailymotion');" />
<input type="button" value="vimeo" onclick="formatText ('vimeo');" /> <br> -->
  <%= f.text_area :body, placeholder: 'body', require: true, minlength: 12, require: true, :id => "create-post-body", :onkeydown => "updatePostBodyCounter()" %><span id="post-body-char-count"></span><br>
  <%# f.file_field :image, placeholder: 'upload an image' %>
    <%= f.text_field :tags, placeholder: 'tags, separated by spaces' %><br>
    <small>Posts become private after 28 days. Including a post in your archive or gallery will make it stay up permanently. You can change this at any time.</small><br>
  <%= f.label "Add to archive?" %><%= f.check_box :archive %><br>
    <%= f.label "Add to gallery?" %><%= f.check_box :gallery %><br>
  <%= f.submit 'Post' %>
<% end %>
<% else %>
You must be logged in to post.
<% end %>
</div>
