<div class="userpage" style="background-color:<%= @username.userstyle.page_background_color %>">

<% @userpage = true %>
<h2>User Page</h2>
<h1><%= @username.name %></h1>


<div class="box userinfo">
  <h2><%= @username.name %></h2>
  <p><%= @username.profile.gsub(/\n/,'[br]').bbcode_to_html.gsub('[marquee]','<marquee>').gsub('[/marquee]','</marquee>').html_safe %></p>
  <h2><%= button_to "Archive", archive_path(@username.name), method: :get %></h2>
    <div class="archivepreview">
      <% @archiveprev.each do |ar| %>
      <div class="arEach">
          <%= link_to ar.title.truncate(35, separator: ' '), username_post_path(ar.username.name, ar) %>
      </div>
      <% end %>
    </div>
  <h2><%= button_to "Gallery", gallery_path(@username.name), method: :get %></h2>
      <div class="gallerypreview">
        <% @galleryprev.each do |ga| %>
        <div class="galEach" style="background-color:<%= @username.userstyle.post_background_color %>;color:<%= @username.userstyle.post_text_color %>;">
          <div class="galtop">
          <%= ga.body.truncate(100, separator: ' ').gsub(/\n/,'[br]').bbcode_to_html.gsub('[marquee]','<marquee>').gsub('[/marquee]','</marquee>').html_safe %><br>
        </div><div class="galbot">
          <%= link_to ga.title.truncate(35, separator: ' '), username_post_path(ga.username.name, ga) %>
        </div>
        </div>
        <% end %>
      </div>

</div>

<% if logged_in? %>
<% if @username.user == @current_user %>
<div class="styleform">
  <h2>Edit your post styles</h2>
<%= simple_form_for([@username, @username.userstyle]) do |f| %>
<%= f.input :post_text_color, require: true, as: :minicolors %>
<%= f.input :post_background_color, require: true, as: :minicolors %>
<%= f.input :page_background_color, require: true, as: :minicolors %>
    <%= f.label 'Signature Text' %><%= f.text_area :signature, :class => "shorttextarea" %><br>
      <%= f.label 'Custom CSS for Signature' %><br>
            <%= link_to "What's CSS and how do I use it?", css_path %><br>
      <%= f.text_area :signature_css, :class => "shorttextarea" %><br>

    <%= f.submit 'Set styles' %>
    <% end %>
    <h2>Change your description</h2>
    <%= form_for(@username) do |f| %>
      You may use <%= link_to "BBcode", bbcode_path %> in this field.<br>
      Insert: <input type="button" value="link" onclick="formatText ('url');" />
    <input type="button" value="image" onclick="formatText ('img');" />
  <input type="button" value="youtube" onclick="formatText ('youtube');" /><br>
      <%= f.text_area :profile, placeholder: 'write a description', :id => "create-post-body" %><br>
        <%= f.submit 'Change description' %>
        <% end %>
  </div>
  <% else %>
  <div class="styleform">
    <% if logged_in? && @current_user.usernames.present? %>
    <% if @current_user.usernames.find_by(default: true).follows.where(recipient_id: @username.id) == nil %>
    <% names = ["(Default) " + @current_user.usernames.find_by(default: true).name] %>
    <% ids = [@current_user.usernames.find_by(default: true).id] %>
    <% else %>
    <% names = [] %>
    <% ids = [] %>
    <% end %>
      <% @current_user.usernames.each do |u| %>
        <% if !u.follows.where(recipient_id: @username.id).exists? %>
        <% names.push u.name %>
        <% end %>
      <% end %>
      <% @current_user.usernames.each do |u| %>
        <% if !u.follows.where(recipient_id: @username.id).exists? %>
        <% ids.push u.id %>
        <% end %>
      <% end %>
      <% @username_selector = names.zip(ids) %>
    <% end %>

    <% if @current_user.usernames.present? && @username_selector != [] %>
    Follow user as
    <% @your_username = @current_user.usernames.find_by(default: true) %>
    <%= form_for([@your_username, Follow.new]) do |f| %>
    <%= f.hidden_field :recipient_id, value: @username.id %>
    <%= f.select :username_id, options_for_select(@username_selector) %>
    <%= f.text_field :body, placeholder: 'Message', required: true, minlength: 12 %>
    <%= f.submit("Follow") %> ?
    <% end %>
      <% end %>
<% @current_user.usernames.each do |us| %>
<% us.follows.each do |fo| %>
<% if fo.recipient_id == @username.id %>
<br>You follow this user as <%= us.name %>
<% end %>
<% end %>
<% end %>

  </div>
<% end %>

<% end %>
<%= render 'layouts/post' %>
</div>
