<div class="userpage" style="background-color:<%= @username.userstyle.page_background_color %>">
<% @userpage = true %>
<h1><%= @username.name %></h1>
<p><%= @username.profile %></p>
<% if logged_in? %>
<% if @username.user == @current_user %>
<% end %>
<div class="styleform">
<%= simple_form_for([@username, @username.userstyle]) do |f| %>
<%= f.input :post_text_color, require: true, as: :minicolors %><br>
<%= f.input :post_background_color, require: true, as: :minicolors %><br>
<%= f.input :page_background_color, require: true, as: :minicolors %><br>
    <%= f.label 'Signature Text' %><%= f.text_field :signature %><br>
      <%= f.label 'Custom CSS for Signature' %><%= f.text_field :signature_css %><%= link_to "What's CSS and how do I use it?", css_path %><br>
    <%= f.submit 'Set styles' %>
    <% end %>
  </div>
<% end %>
<% @posts = @username.posts %>
<%= render 'layouts/post' %>
</div>
