<div class="right rep" onclick="expandCommentCommentBox(<%= @co.id.to_s %>)">Reply to Comment</div>
<div class="replyform", id="replyform-<%= @co.id.to_s %>">
  <% if logged_in? && @current_user.usernames.present? %>

  <% if @co.username.user == @current_user %>
    <% @username_selector.prepend([@co.username.name, @co.username.id]) %>
  <% elsif @co.post.username.user == @current_user %>
  <% @username_selector.prepend([@co.post.username.name, @co.post.username.id]) %>
  <% end %>

<%= form_for([@co.username, @co.post, Comment.new]) do |f| %>
<%= f.label 'Reply as' %> <%= f.select :username_id, @username_selector %>
<%= f.text_area :body, placeholder: 'body', minlength: 12, require: true, :id => "create-comment-comment-#{@co.id.to_s}", :onkeydown => "updateCommentCommentCounter(#{@co.id.to_s})" %><span id="comment-comment-char-count-<%= @co.id.to_s %>"></span><br>
<%= f.hidden_field :post_id, value: @co.post.id %>
<%= f.hidden_field :reply_id, value: @co.id %>
    <%= f.label "Send comment as private message to #{@co.username.name}?" %>
      <%= f.check_box :private %>
<%= f.submit 'Comment' %>
<% end %>

  <% if @co.username.user == @current_user || @co.post.username.user == @current_user %>
  <% @username_selector.pop %>
  <% end %>

<% else %>
You must create a username to reply.
<% end %>
</div>
