<div class='comments'>

<% @post_comments.each do |c| %>
  <% if c.present? %>
<% @divclasses = 'comment' %>
  <% if c.private == true %>
      <% if c.username.user == @current_user || Username.where(id: c.recipient_id)[0].user == @current_user %>
    <% @divclasses.concat(' private') %>
    <% else %>
    <% @divclasses.concat(' notpermitted') %>
    <% end %>
  <% end %>
  <% if @show_comments == nil %>
  <% @divclasses.concat(' fade') %>
  <% end %>
<div class="<%= @divclasses %>">
  <p>
  <%= c.body %>
<br>
<% if c.shared == true %>
Shared
<% end %>
<i>by <%= c.username.name %></i> at <%= c.created_at.strftime('%-l:%M%P on %b %-d, %Y') %>
</p></div>
<% @po.comments.where(reply_id: c.id).each do |rep| %>
<% @divclasses = 'comment' %>
<% @divclasses.concat(' indent') %>
<% if rep.private == true %>
<% if rep.username.user == @current_user || Username.where(id: rep.recipient_id)[0].user == @current_user %>
<% @divclasses.concat(' private') %>
<% else %>
<% @divclasses.concat(' notpermitted') %>
<% end %>
<% end %>
<div class="<%= @divclasses %>">
  <%= rep.body %><br>
  <% if rep.shared == true %>
  Shared
  <% end %>
<i>by <%= rep.username.name %></i> at <%= rep.created_at.strftime('%-l:%M%P on %b %-d, %Y') %>
</p>

</div>
<% end %>
<div>
<% @co = c %>
<% if @show_comments != nil %>
<%= render 'layouts/comment_on_comment_form' %>
<% end %>
</div>
<% end %>
<% end %>
</div>
