<header><ul>

<% if logged_in? %>
<li><%= link_to "my feed", root_path %></li>
<li><%= link_to "browse", browse_path %></li>
  <li><%= link_to "my usernames", user_path(@current_user) %></li>
  <% if @current_user.usernames.present? %>
    <li><%= link_to post_path do %>
<i class="fas fa-pencil-alt"></i>+
<% end %>
    </li>
        <li><%= link_to inbox_path do %>
          <i class="fas fa-envelope"></i>
          <% end %>
          <% @notecount = 0 %>
        <% @current_user.usernames.each do |us| %>
        <% @notecount += us.notifications.where(read: false).count %>
        <% end %>
        <% if @notecount > 0 %>
        <sup class="notecount">(<%= @notecount %>)</sup>
        <% end %>
        </li>

    <% end %>
        <li><%= link_to logout_path, method: :delete do %>
        log out <i class="fas fa-sign-out-alt"></i>
 <% end %>
        </li>
<% else %>
<li><%= link_to "home", root_path %></li>
<li><%= link_to "log in", login_path %></li>
<li><%= link_to "sign up", register_path %></li>
<% end %>
<li><%= link_to search_path do %>
search <i class="fas fa-search"></i>
<% end %>
</li>
</ul></header>
