<div class="leftside">
  <% if Username.find_by(id: @note.sender_id) != nil %>
    <%= link_to Username.find_by(id: @note.sender_id).name, username_path(Username.find_by(id: @note.sender_id).name) %>
  <% else %>
    Deleted user
  <% end %>

<% if @note.kind == "share" %>
 shared your post "
<% if Post.find_by(id: @note.post_id) != nil %>
 <%= link_to Post.find_by(id: @note.post_id).title, username_post_path(@note.username, Post.find_by(id: @note.post_id)) %>
<% else %>
Deleted post
<% end %>
" with comment:
<div class="notebody"><b> <%= @note.body %></b></div>

<% elsif @note.kind == "private_message" %>
 sent you a message:
<div class="notebody"><b> <%= @note.body %></b></div>

<% elsif @note.kind == "comment" %>
 commented on your post "
<% if Post.find_by(id: @note.post_id) != nil %>
 <%= link_to Post.find_by(id: @note.post_id).title, username_post_path(@note.username, Post.find_by(id: @note.post_id)) %>
<% else %>
Deleted post
<% end %>
":
<div class="notebody"><b> <%= @note.body %></b></div>

<% elsif @note.kind == "reply comment" %>
 replied to your comment "
 <% if Post.find_by(id: @note.post_id) != nil && Comment.find_by(reply_id: @note.comment_id).body.truncate(25, separator: ' ') != nil %>
 <%= link_to Comment.find_by(reply_id: @note.comment_id).body.truncate(25, separator: ' '), username_post_path(@note.username, Post.find_by(id: @note.post_id)) %>
<% else %>
Deleted comment
<% end %>
 ":
<div class="notebody"><b> <%= @note.body %></b></div>

<% elsif @note.kind == "follow" %>
 followed you and says:
<div class="notebody"><b> <%= @note.body %></b></div>
<% end %>
</div>
