<div class="pm">
  <p>
  <%= @pm.body %>
<br>
<i>from <%= @pm.username.name %> to <%= Username.where(id: @pm.recipient_id)[0].name %> at
  <% if logged_in? && @current_user.time_zone != nil %>
<%= @pm.created_at.in_time_zone(@current_user.time_zone).strftime("%-l:%M%P on %b %-d, %Y") %>
<% elsif logged_in? %>
<%= @pm.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
<% end %>
</i> </p></div>
