<%# will_paginate @posts %>
<% if logged_in? %>
<% ids = [@current_user.usernames.find_by(default: true).id] %>
  <%     names = ["(Default) " + @current_user.usernames.find_by(default: true).name] %>
  <% @current_user.usernames.each do |u| %>
    <% names.push u.name %>
  <% end %>
  <% @current_user.usernames.each do |u| %>
    <% ids.push u.id %>
  <% end %>
  <% @username_selector = names.zip(ids) %>
<% end %>
<% @posts.each do |po| %>
  <div class="post">
    <h2>
  <%= po.title %></h2>
<p><b><%= po.body %></p>
<p><i>by <%= po.username.name %></i> at <%= po.created_at.strftime("%-l:%M%P on %b %-d, %Y") %></b>
</p>
<hr>
<% @po = po %>
<%= render 'layouts/comment' %>


<%= render 'layouts/comment_on_post_form' %>
</div>
<% end %>
</div>
<%# will_paginate @posts %>
