<%# will_paginate @posts %>
<% @posts.each do |p| %>
  <div class="post"><h2>
  <%= p.title %></h2>
<p><%= p.body %></p>
<p><i>by <%= p.username.name %></i> at <%= p.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
</p>
<hr><% p.comments.each do |c| %>
<p>  <%= c.body %></p>
<p><i>by <%= c.username.name %></i> at <%= c.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
</p><hr>
  <% end %>

<% if logged_in? %>
<% ids = [@current_user.usernames.find_by(default: true).id] %>
  <%     names = ["(Default) " + @current_user.usernames.find_by(default: true).name] %>
  <% @current_user.usernames.each do |u| %>
    <% names.push u.name %>
  <% end %>
  <% @current_user.usernames.each do |u| %>
    <% ids.push u.id %>
  <% end %>
  <% @username_selector = names.zip(ids) %>
<% end %>

<%= form_for([p.username, p, Comment.new]) do |f| %>
<%= f.label 'Reply as' %> <%= f.select :username_id, @username_selector %><br>
<%= f.text_area :body, placeholder: 'body', require: true %><br>
<%= f.hidden_field :post_id, value: p.id %><br>
  <%= f.label "Share this to your feed?" %><%= f.check_box :shared %><br>
<%= f.submit 'Comment' %>
<% end %>
</div>
<% end %>
<%# will_paginate @posts %>
