
<% if logged_in? && @current_user.usernames.find_by(default: true) != nil %>
<% ids = [@current_user.usernames.find_by(default: true).id] %>
  <%     names = ["(Default) " + @current_user.usernames.find_by(default: true).name] %>
  <% @current_user.usernames.each do |u| %>
    <% names.push u.name %>
  <% end %>
  <% @current_user.usernames.each do |u| %>
    <% ids.push u.id %>
  <% end %>
  <% @username_selector = names.zip(ids) %>
<% end %>

<div class="post">
  <div class="post_title"><h2>
<%= link_to @po.title, username_post_path(@po.username.name, @po) %></h2></div>
<div class="post_body">
<p><b><%= @po.body %></p>
<p><i>by <%= @po.username.name %></i> at
  <% if logged_in? && @current_user.time_zone != nil %>
<%= @po.created_at.in_time_zone(@current_user.time_zone).strftime("%-l:%M%P on %b %-d, %Y") %>
<% else %>
<%= @po.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
<% end %>
</b>
</p>
<hr>
<% if @po.share_comment != nil %>
<% @op = Post.find_by(id: @po.op_id) %>
<p>Shared by <%= @po.username.name %> from <%= link_to "original post", username_post_path(@op.username.name, @op) %> by <%= @op.username.name %> with comment: <%= @po.share_comment %></p>

<% else %>
This post has <%= @po.comments.where(private: false).count %> public
<% if @po.comments.count == 1 %>
comment
<% else %>
comments
<% end %>
and was shared <%= @po.comments.where(shared: true).count %>
<% if @po.comments.where(shared: true).count == 1 %>
time.
<% else %>
times.
<% end %>
<% end %>
<br>
<%# @po = po %>
<% if @po.share_comment != nil %>
  <% @po = Post.find_by(id: @po.op_id) %>
<% end %>
<% if @show_comments != nil %>
<% @post_comments = @po.comments.where(reply_id: nil) %>
<% else %>
<% @post_comments = [@po.comments.where(reply_id: nil).last] %>
<% end %>
<%= render 'layouts/comment' %>




<%= render 'layouts/comment_on_post_form' %>
</div>
</div>
