
<% if logged_in? && @current_user.usernames.find_by(default: true) != nil %>
<% ids = [@current_user.usernames.find_by(default: true).id] %>
  <%     names = ["(Default) " + @current_user.usernames.find_by(default: true).name] %>
  <% @current_user.usernames.each do |u| %>
    <% names.push u.name %>
  <% end %>
  <% @current_user.usernames.each do |u| %>
    <% ids.push u.id %>
  <% end %>
  <% @username_selector = names.zip(ids) %>
<% end %>
<style>
#post<%= @po.id %> a {
  color: <%= @po.username.userstyle.post_text_color %>;
}
.post span a {
  color: black !important;
}
</style>
<div class="post" id="post<%= @po.id %>">
  <div class="post_title"><h2>
<%= link_to @po.title, username_post_path(@po.username.name, @po) %></h2></div>
<% if @po.share_comment != nil %>
<% @op = Post.find_by(id: @po.op_id) %>
<div class="post_body" style="background-color:<%= @op.username.userstyle.post_background_color %>;color:<%= @op.username.userstyle.post_text_color %>">
  <% else %>
  <div class="post_body" style="background-color:<%= @po.username.userstyle.post_background_color %>;color:<%= @po.username.userstyle.post_text_color %>">
  <% end %>
<%= @po.body.gsub(/\n/,'[br]').bbcode_to_html.gsub('[marquee]','<marquee>').gsub('[/marquee]','</marquee>').html_safe %>
<br>

<% if @po.tags != nil %>
  <% @tagarray = @po.tags.split(" ") %>
  <% @tagarray.each do |tag| %>
  <span class="tag"> <%= link_to tag, results_path(q: tag) %></span>&nbsp
  <% end %>
  <% if @po.username.user == @current_user %>
    <%= render 'layouts/post_edit_modal' %>
    <br>
      <div class="pointer closeModal" onclick="showEditModal(<%= @po.id %>)"><i class="fas fa-edit"></i></div>
    <% end %>
  <% end %>


</div><div class="bottomhalf" style="background-color:<%= @po.username.userstyle.post_background_color %>;color:<%= @po.username.userstyle.post_text_color %>">
<% if @po.share_comment != nil %>

<small>Shared by <%= link_to @po.username.name, username_path(@po.username.name), :style=> 'color:' + @po.username.userstyle.post_text_color %> from <%= link_to "original post", username_post_path(@op.username.name, @op), :style=> 'color:' + @po.username.userstyle.post_text_color %> by <%= link_to @op.username.name, username_path(@op.username.name), :style=> 'color:' + @po.username.userstyle.post_text_color %>  at
  <% if logged_in? && @current_user.time_zone != nil %>
<%= @po.created_at.in_time_zone(@current_user.time_zone).strftime("%-l:%M%P on %b %-d, %Y") %>
<% else %>
<%= @po.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
<% end %> with comment:<br><b><%= @po.share_comment %></b></small>
<br>

<% else %>
<small>by <%= link_to @po.username.name, username_path(@po.username.name), :style=> 'color:' + @po.username.userstyle.post_text_color %> at
  <% if logged_in? && @current_user.time_zone != nil %>
<%= @po.created_at.in_time_zone(@current_user.time_zone).strftime("%-l:%M%P on %b %-d, %Y") %></small>
<% else %>
<%= @po.created_at.strftime("%-l:%M%P on %b %-d, %Y") %></small>
<% end %>
</b>
<br>
<small>This post has <%= @po.comments.where(private: false).count %> public
<% if @po.comments.count == 1 %>
comment
<% else %>
comments
<% end %>
and was shared <%= @po.comments.where(shared: true).count %>
<% if @po.comments.where(shared: true).count == 1 %>
time.</small>
<% else %>
times.</small>
<% end %>
<% end %>
</div>
<div class="signature" style="<%= @po.username.userstyle.signature_css %>max-width:100% !important;max-height:200px !important;visibility:visible !important;position:relative !important;">
  <%= @po.username.userstyle.signature %>
</div>
<style>
.comments a {
  color: black !important;
}
</style>
<div class="comments">
<%# @po = po %>
<% if @po.share_comment != nil %>
  <% @po = Post.find_by(id: @po.op_id) %>
<% end %>
<% if @show_comments != nil %>
<% @post_comments = @po.comments.where(reply_id: nil) %>
<% else %>
<% @post_comments = [@po.comments.where(reply_id: nil, private: false).last] %>
<% end %>
<%= render 'layouts/comment' %>




<%= render 'layouts/comment_on_post_form' %>
</div>
</div>
