<div class="<%= @divclasses %>">
  <div class="avatarbox"><div class="avatar" style="background-color:<%= @com.username.userstyle.post_background_color %>;border:2px solid <%= @com.username.userstyle.post_text_color %>"><i class="fas fa-user" style="color:<%= @com.username.userstyle.post_text_color %>"></i></div></div>
  <div class="commentbody">
  <p>
  <%= @com.body.gsub(/\n/,'[br]').bbcode_to_html.gsub('[marquee]','<marquee>').gsub('[/marquee]','</marquee>').html_safe %>
<hr style=" border-bottom: 2px solid <%= @com.username.userstyle.post_text_color %>;"><i>
<% if @com.private == true %>
Private message to <%= link_to Username.find_by(id: @com.recipient_id).name, username_path(Username.find_by(id: @com.recipient_id).name) %>
<% end %>
<% if @com.shared == true %>
Shared
<% end %>


by <%= link_to @com.username.name, username_path(@com.username.name) %></i> at
<% if logged_in? && @current_user.time_zone != nil %>
<%= @com.created_at.in_time_zone(@current_user.time_zone).strftime("%-l:%M%P on %b %-d, %Y") %>
<% else %>
<%= @com.created_at.strftime("%-l:%M%P on %b %-d, %Y") %>
<% end %>
</p>
</div></div>
