<!DOCTYPE html>
<html>
  <head>
    <title>Socialmedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Staatliches|Cinzel+Decorative|Cormorant+Garamond|Gochi+Hand|Lobster|Monoton|Open+Sans+Condensed:300|Press+Start+2P|Rock+Salt" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <% if logged_in? %>
    <% if @current_user.usernames.count > 0 %>
  <body style="background:<%= @current_user.usernames.find_by(default: true).userstyle.page_background_color %>;">
    <% end %>
    <% else %>
    <body>
<% end %>
    <%= render 'layouts/header' %>
    <div class="content">
<%= render 'layouts/flash_messages' if !flash.empty? %>
    <%= yield %>
  </div>
        <%= render 'layouts/footer' %>
  </body>
</html>
