<!DOCTYPE html>
<html>
  <head>
    <title>Socialmedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <% if logged_in? %>
      you are logged in
      <% else %>
      you are not logged in
      <% end %>
    <%= yield %>
  </div>
        <%= render 'layouts/footer' %>
  </body>
</html>
