<!DOCTYPE html>
<html>
  <head>
    <title>Socialmedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="content">

      <% if !flash.empty? %>
        <div class="flash-messages-container">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) && [:success, :info, :error, :warning].include?(name) %>
              <div class="flash-message" data-type="<%= name %>" >
                <%= msg %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% flash.clear %>
      <% end %>

      <% if logged_in? %>
      you are logged in as <%= @current_user.email %>
      <% if @current_user.usernames.find_by(default: true) != nil %>
       with default username <%= @current_user.usernames.find_by(default: true).name %>
    <% end %>
. <%= link_to('log out?', logout_path, method: :delete) %>
      <% else %>
      you are not logged in
      <% end %>
    <%= yield %>
  </div>
        <%= render 'layouts/footer' %>
  </body>
</html>
